$width-middle: 1200px;
$width-tab: 1000px;
$sp-width: 800px;

@mixin sp($max-width: $sp-width) {
	@media only screen and (max-width: $max-width) {
		@content;
	}
}

@mixin pc($min-width: $sp-width) {
	@media only screen and (min-width: $min-width) {
		@content;
	}
}

* {
	margin: 0;
	color: white;
	box-sizing: border-box;

	&::-webkit-scrollbar{
		width: 2px;
	}
	&::-webkit-scrollbar-track{
		background-color: #111;
	}
	&::-webkit-scrollbar-thumb{
		background-color: #fff;
	}
}

html,
body {
	position: relative;
	width: 100%;
	height: 100dvh;
	background-color: #000000;
	font-family: 'Bebas Neue', sans-serif;
	overflow: hidden;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cc {
	position: relative;
	width: 100%;
	height: 100%;
	background: #000;
}

.cw {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

canvas {
	position: relative;
	width: 100%;
	height: 100%;
	// border-radius: 100px 100px;
}

h1,.text {
	color: #fff;
	text-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.1);
}


h1 {
	position: absolute;
	top: 3vh;
	left: 2vw;
	font-size: 4vmin;
	user-select: none;
	// mix-blend-mode: difference;
	color: #fff;
}

.text {
	position: absolute;
	text-align: right;
	right: 0px;
	bottom: 0.5vh;
	font-size: 12vmin;
	max-width: 100%;
	// mix-blend-mode: difference;
	color: #fff;
	line-height: 0.8em;
	user-select: none;

	a {
		font-size: 10vmin;
		line-height: 1.2em;
		transition: opacity 0.5s;
		&:hover {
			opacity: 0.6;
		}
	}
}

.line1 {
	position: absolute;
	right: 3vmin;
	bottom: 0;
	top: 6vmin;
	width: 60vw;
	height: 1px;
	background-color: #ddd;
}

.line2 {
	position: absolute;
	right: 3vmin;
	bottom: 0;
	top: 6vmin;
	width: 15vmin;
	height: 15vmin;
	border-top: 1.5vmin solid #eee;
	border-right: 1.5vmin solid #eee;
	border-bottom: 1.5vmin solid transparent;
	border-left: 1.5vmin solid transparent;
}

.line3 {
	position: absolute;
	left: 4vmin;
	bottom: 6vmin;
	width: 1px;
	height: 20vmin;
	background-color: #eee;
}

.line4 {
	position: absolute;
	left: 4vmin;
	bottom: 6vmin;
	width: 75vw;
	height: 1px;
	background-color: #eee;
}

.line5 {
	position: absolute;
	left: 4vmin;
	bottom: 6vmin;
	width: 2.5vmin;
	height: 2.5vmin;
	border-bottom: 2.5vmin solid #eee;
	border-left: 2.5vmin solid #eee;
	border-top: 2.5vmin solid transparent;
	border-right: 2.5vmin solid transparent;
}


.dev {
	visibility: visible;
}

.tp-dfwv {
	z-index: 1;
}
